<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title> <!-- Título dinámico -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <%- include('partials/header') %> <!-- Header -->

    <!-- Contenido principal -->
    <main>
        <%- body %> <!-- Renderiza contenido dinámico como HTML -->
    </main>

    <%- include('partials/footer') %> <!-- Footer -->
</body>
</html>
